.get-in-touch{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.container{
    background-color: #339989;
    height: 90%;
    width: 89%;
    padding: 80px 0 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.form{
    width: 70%;;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.input{
    display: flex;
    padding-top: 15px;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
}
.field{
    background-color: white;
    width: 100%;

}
.btn{
    padding: 15px !important;
}
.length{
    width:90%;
}
@media only screen and (max-width:768px){
    .form{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
    }
    .btn{
        margin-top: 20px !important;
    }
    .input{
        width: 80%;
    }
    .container{
        width: 70%;
      }
  }
  @media only screen and (max-width:992px){
    .container{
      width: 85%;
      margin-top: 90px !important;
    }
    .form{
        width: 88%;
    }
  }
  @media only screen and (max-width:600px){
      .container{
          width: 100%;
      }
      .form{
        width: 100% !important;
    }
  }