
.about-wrapperl1{
    width: 80%;
    padding: 100px 0 100px 140px; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    }
.about-wrapperer{
    display: flex;
    align-items: center;
    padding: 10px 0 0 0;
}
.about-data{
    display: flex;
    justify-content: left;
    text-align: left;
}
p{
    text-align: justify;
}


@media only screen and (max-width:992px){
    .about-wrapperl1{
        width: 75%;
        padding: 100px 0 10px 140px !important;
    }
}

@media only screen and (max-width:769px){
    .about-wrapperl1{
        padding: 100px 0 10px 100px !important;
    }
}

@media only screen and (max-width:600px){
    .about-wrapperl1{
        padding: 100px 0 10px 50px !important;
    }
}